.body{
    padding: 8px;
    background-color: gray;
    min-height: 100vh;
    max-width: fit-content;
    .detail{
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 90%;
        height: 400px;
        margin: 0;
        .space{
            display: flex;
            flex-direction: row;
                gap: 350px;
        .main{
            display: flex;
            flex-direction: row;
            gap: 20px;
        .img{
            margin-top: 10px;
            width: 200px;
            height: 250px;
        }
                
        .info{
           
    .title{
        font-weight: bold;
        margin-bottom: 8px;
        font-size: xx-large;
        color: burlywood;
    }
    .release{
        font-weight: 900;
        color: burlywood;
        margin: 0;
    }

    .rate{
        font-weight: 700;
        color: gold;
        font-size: large;
    }
       
}
 
}
.backdrop {
    height: 100%;
    .img {
        height: 100%;
        width: 100%;
        object-fit: fill;
        border-radius: 20px;
    }
}
        }

    .tag {
            margin: 4px;
            color: burlywood;
        }
    
        .desc {
            margin: 0;
            width: 60%;
            text-align: justify;
            font-size: larger;
            margin-bottom: 6px;
            color: burlywood;
            overflow: hidden;
            padding-bottom: 5px;
        }
        
}

    .img{
        width: fit-content;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 32px;
    }
    .casttag{
        color: burlywood;
    }
    .cast{
        display: flex;
        flex-direction: row;
        
        overflow-x: auto;
        gap: 10px;
        align-self: baseline;
        width: 1300px;
             
            .card{
                padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-width: 200px;
            height: 300px;

            h4{
                color: burlywood;
            }

            .img{
                height: 150px;
                width: 100px;
            }
        }
    }
}